.todoitem-content{
    margin-top: 5px;
    height: 140px;
    background-color: blanchedalmond;
    border:silver solid 1px;
    border-radius: 5px;
}
.todoitem-content h2 h4{
    margin-bottom: 5px;
    margin-left: 5px;
}
.edit-btn{
    margin-bottom: 5px;
    margin-left: 5px;
}
.delete-btn{
    margin-bottom: 5px;
    margin-left: 5px;
}